version = 0.1

[default]
[default.global.parameters]
stack_name = "valine-orchestrator"

[default.build.parameters]
cached = true
parallel = true

[default.deploy.parameters]
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
resolve_s3 = true
region = "us-west-2"
parameter_overrides = [
  "Stage=\"dev\"",
  "DiscordPublicKey=\"REPLACE_WITH_DISCORD_PUBLIC_KEY\"",
  "DiscordBotToken=\"REPLACE_WITH_DISCORD_BOT_TOKEN\"",
  "GitHubToken=\"REPLACE_WITH_GITHUB_TOKEN\"",
  "GitHubWebhookSecret=\"REPLACE_WITH_GITHUB_WEBHOOK_SECRET\""
]

[prod]
[prod.global.parameters]
stack_name = "valine-orchestrator-prod"

[prod.deploy.parameters]
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
resolve_s3 = true
region = "us-west-2"
parameter_overrides = [
  "Stage=\"prod\"",
  "DiscordPublicKey=\"REPLACE_WITH_DISCORD_PUBLIC_KEY\"",
  "DiscordBotToken=\"REPLACE_WITH_DISCORD_BOT_TOKEN\"",
  "GitHubToken=\"REPLACE_WITH_GITHUB_TOKEN\"",
  "GitHubWebhookSecret=\"REPLACE_WITH_GITHUB_WEBHOOK_SECRET\""
]
